@import "~bootstrap/scss/bootstrap";

body {
  background-color: lightgray;
}

.hide {
  display: none;
}

.home-page {
  border: 2px solid;
  margin: 1px;
  background-color: darkgray;
}

#google-auth {
  margin: 2px;
}